<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>FirstJettyApp</display-name>

	<!-- MainServlet -->
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.boarge.server.servlet.MainServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Games Servlet -->
	<servlet>
		<servlet-name>Games</servlet-name>
		<servlet-class>com.boarge.server.servlet.GamesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Games</servlet-name>
		<url-pattern>/games/*</url-pattern>
	</servlet-mapping>
	
	<!-- Games Servlet Join -->
	<servlet>
		<servlet-name>GamesJoin</servlet-name>
		<servlet-class>com.boarge.server.servlet.GamesServletJoin
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GamesJoin</servlet-name>
		<url-pattern>/games/join/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Users Servlet -->
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>com.boarge.server.servlet.UsersServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
	
	<!-- Teams Servlet -->
	<servlet>
		<servlet-name>Teams</servlet-name>
		<servlet-class>com.boarge.server.servlet.TeamsServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Teams</servlet-name>
		<url-pattern>/teams/*</url-pattern>
	</servlet-mapping>
	
	<!-- UsersGames Servlet -->
	<servlet>
		<servlet-name>UsersGames</servlet-name>
		<servlet-class>com.boarge.server.servlet.UsersGamesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersGames</servlet-name>
		<url-pattern>/usersgames/*</url-pattern>
	</servlet-mapping>
</web-app>